@import url('https://fonts.googleapis.com/css2?family=archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=archivo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER CSS */
.cross span:nth-child(1) {
    transform: rotate(58deg) translateY(17px);
    transition: 300ms;
    position: relative;
    top: 7px;
    right: -47%;
}

.cross span:nth-child(2) {
    transition: 300ms;
    display: none;
}

.cross span:nth-child(3) {
    transform: rotate(123deg) translateY(19px);
    transition: 300ms;
    position: relative;
    top: -1px;
    right: -47%;
}