<<<<<<< HEAD <<<<<<< HEAD @import url("https://fonts.googleapis.com/css2?family=archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=archivo:ital,wght@0,100..900;1,100..900&display=swap");
=======@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
>>>>>>>cbfa6627a5b9dc9a39f635c480222b40a655f7b0 @tailwind base;
=======@import url('https://fonts.googleapis.com/css2?family=archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
>>>>>>>ea66c3b260bb15aa3dd1289206d05abc8166e750 @tailwind components;
@tailwind utilities;

/* HEADER CSS */
.cross span:nth-child(1) {
    transform: rotate(61deg) translateY(18px);
    transition: 300ms;
    position: relative;
    top: 8px;
    right: -47%;
}

.cross span:nth-child(2) {
    transition: 300ms;
    display: none;
}

.cross span:nth-child(3) {
    transform: rotate(117deg) translateY(19px);
    transition: 300ms;
    position: relative;
    top: -1px;
    right: -47%;
}

[data-collapse] {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease;
}

li:hover [data-collapse] {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s ease;
}

li:hover .icon-svg {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

/* HERO MISSION SECTION CSS */
/* .hero-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 7, 0.8);
    z-index: 1;
}

.hero-overlay>* {
    position: relative;
    z-index: 2;
} */

/* HERO MISSION SECTION */
/* .hero-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 7, 0.8);
    z-index: 1;
}

.hero-overlay>* {
    position: relative;
    z-index: 2;
} */

/* TEAM SECTION CSS */
@media (max-width: 991.11px) {
    .All_Slider_Images {
        width: 1660px;
        margin: 10px -400px;
        animation: nav_move 20s infinite linear;
    }

    .All_Slider_Images:hover {
        animation-play-state: paused;
    }

    @keyframes nav_move {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: -800px;
        }
    }
}

/* REVIEW SECTION CSS */
.slider-nav .slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 25px;
    min-height: 109px;
}

.arrow:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;
}

.slider-nav .slick-slide {
    transition: all 500ms linear !important;
    width: 53px !important;
    margin: 0 12px;
}

.slider-nav .slick-slide.slick-current.slick-active img {
    transform: scale(1.9);
    transition: all 500ms linear !important;
}

.slick-slide.slick-cloned {
    width: 53px !important;
}

.slick-slide.slick-cloned.slick-active {
    width: 53px !important;
}

.slider-nav .slick-slide.slick-active {
    width: 53px !important;
}

/* APPOINTMENT SECTION CSS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("./assets/image/png/dropdownArrow.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 20px;
    border-radius: 2px;
    margin-right: 2rem;
}

/* HALSEY SECTION CSS */
.Message {
    width: 170px;
    height: 50px;
    background: #ffffff;
    padding: 15px 25px 15px 25px;
    border: 0.8px solid #ffffff;
}

.Patient {
    width: 199px;
    height: 50px;
    background: #ffffff1a;
    border: 1px solid #ffffff;
    padding: 15px 25px 15px 25px;
}

.white_shadow:hover {
    transition: all 255ms linear;
    box-shadow: 0 0 10px #ffffff;
}

.Common_btn {
    width: 199px;
    height: 50px;
    background: #FFFFFF1A;
    border: 1px solid #FFFFFF;
    padding: 15px 25px 15px 25px;
}

.white_shadow:hover {
    transition: all 255ms linear;
    box-shadow: 0 0 10px #ffffff;
}

/* SKIN CONCERN */

/* TEAM SECTION */
@media (max-width: 991.11px) {
    .All_Slider_Images {
        width: 1660px;
        margin: 10px -400px;
        animation: nav_move 20s infinite linear;
    }

    .All_Slider_Images:hover {
        animation-play-state: paused;
    }

    @keyframes nav_move {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: -800px;
        }
    }
}

/* FAQ SECTION */

@media (min-width:1024px) {
    .text-vertical {
        writing-mode: vertical-rl;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("./assets/image/png/dropdownArrow.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 20px;
    border-radius: 2px;
    margin-right: 2rem;
}

/* halsey section */

.Common_btn {
    width: 199px;
    height: 50px;
    background: #FFFFFF1A;
    border: 1px solid #FFFFFF;
    padding: 15px 25px 15px 25px;
}

/* Footer and HEADER css */

.cross span:nth-child(1) {
    transform: rotate(58deg) translateY(17px);
    transition: 300ms;
    position: relative;
    top: 7px;
    right: -47%;
}

.cross span:nth-child(2) {
    transition: 300ms;
    display: none;
}

.cross span:nth-child(3) {
    transform: rotate(123deg) translateY(19px);
    transition: 300ms;
    position: relative;
    top: -1px;
    right: -47%;
}

/* Helix Section Css */

.img-m-w {
    max-width: 226.43px;
    max-height: 226.43px;
}

.Common_btn {
    width: 151px;
    height: 50px;
    background: #6E9277;
    padding: 15px 25px 15px 25px;
}